<h1>This is the cocktails index page</h1>

<ol>
  <% @cocktail.each do |c| %>
    <%= link_to cocktail_path(c) do %>
    <li><%= c.name %></li>
    <% end %>
  <% end %>
</ol>

<%= link_to 'Add a new cocktail', new_cocktail_path %>

