<h1>This is the cocktails show page</h1>

<h2><%= @cocktail.name %></h2>

<p><%= link_to 'Edit this cocktail', edit_cocktail_path %></p>
<p><%= link_to 'Delete this cocktail', cocktail_path, method: :delete %></p>
<p><%= link_to 'Go back to cocktails', cocktails_path %></p>
