<%= simple_form_for [@cocktail, @dose] do |f| %>
<div class="form-group">
  <%= f.association :ingredient, collection: Ingredient.all %>
</div>
<div class="form-group">
  <%= f.input :description, label: 'Enter quantity' %>
</div>
<%= f.submit 'Add ingredient' %>
<% end %>
